node_modules/
build/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.env
.env-local
.env-prod
.env-staging
.env-test
.env.local
.env.dev
.env.prod
.DS_Store
*.idea
.idea
vcs.xml
dev.json
config/dev.json
tmp
hummus-error.log
*.vscode 